html {
  height: 100%
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#content {
  margin: 60px 20px 20px 20px;
}

#newDay {
  margin: 55px 0 0 20px;
}

#plan {
  margin: 0 20px 20px 40px;
}

#map-canvas {
  height: 600px;
  width: 900px;
  margin: 25px;
}

a {
  color: #00B7FF;
}